/* Home Landing Area */

.land-title {
  height: 50vh;
  background-image: url("../images/IMG_0170.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Landing */


.landing-texts {
  background-color: rgba(0,0,0,0.4);
  padding: 2vh;
  border: 0.3vh solid white;
    color: white;
}


/* Jumbotron */

.directory {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.card {
  margin: 2vh;
}
